<div *ngIf="vehicule">
    <h1>Vehicule Infos</h1>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-vehicule-tab" data-toggle="tab" href="#nav-vehicule" role="tab" aria-controls="nav-vehicule" aria-selected="true">
              Vehicule
            </a>
          <a class="nav-item nav-link" id="nav-photos-tab" data-toggle="tab" href="#nav-photos" role="tab" aria-controls="nav-photos" aria-selected="false">
              Photos
            </a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-vehicule" role="tabpanel" aria-labelledby="nav-vehicule-tab">
            <h2>Basics</h2>
            <ul>
                <li>Make : {{vehicule.make.name}}</li>
                <li>Model : {{vehicule.model.name}}</li>
                <li>Registred : {{vehicule.isRegistred}}</li>
            </ul>
            <h2>Features</h2>
            <ul>
                <li *ngFor="let feature of vehicule.features">{{feature.name}}</li>
            </ul>
            <h2>Contact</h2>
            <ul>
                <li>Name : {{vehicule.contact.name}}</li>
                <li>Email : {{vehicule.contact.email}}</li>
                <li>Phone : {{vehicule.contact.phone}}</li>
            </ul>

            <button *ngIf="authService.isAuthenticated$" type="button" class="btn btn-primary" [routerLink]="['/vehicules/edit/', vehicule.id]">
                Edit 
            </button>
            <button *ngIf="authService.isAuthenticated$" type="button" class="btn btn-danger" (click)="delete()">
                Delete
            </button>
            
        </div>

        <!-- photo tab  -->

        <div class="tab-pane fade" id="nav-photos" role="tabpanel" aria-labelledby="nav-photos-tab">
            <h2>Photos</h2>
                <!-- Progress Bar -->
            <div class="progress form-group" *ngIf="progress > 0">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
                    <span>{{progress}}% Completed</span>
                </div>
            </div>
            <input *ngIf="authService.isAuthenticated$" type="file" (change)="uploadPhoto()" #fileInput>
            <img *ngFor="let photo of photos" src="uploads/thumbnails/{{photo.fileName}}" alt="Photos of vehicules" class="img-thumbnail">
        </div>
    </div>
</div>