
<form #addingVehiculeForm="ngForm">
  <div>

    <h1>New Vehicule</h1>
    <div class="form-group">
      <label for="make">Make</label>
      <select class="form-control form-control-sm" name="make" id="make" (change)="onMakeChange()" [(ngModel)]="vehicule.make" >
        <option value=""></option>
        <option *ngFor="let make of makes" value="{{make.id}}">
            {{make.name}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="model">Model</label>
      <select class="form-control form-control-sm" name="model" id="model">
        <option value=""></option>
        <option *ngFor="let model of models" value="{{model.id}}">
            {{model.name}}
        </option>
      </select>
    </div>
    
    <p>Is this vehicle registered ? </p>
    <div class="form-check form-check-inline">
      <label for="registred" class="form-check-label">
          <input class="form-check-input" type="radio" name="isRegistred" id="registred" value="true"> 
          Yes
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label for="notRegistred" class="form-check-label">
          <input class="form-check-input" type="radio" name="isRegistred" id="notRegistred" value="false"> 
          No
      </label>
    </div>

    <h1>Features</h1>
    <div *ngFor="let feature of features" class="form-check">
      <label for="feature{{feature.id}}" class="form-check-label">
        <input type="checkbox" class="form-check-input" name="feature" id="feature {{ feature.id}}" value="checkedValue">
        {{feature.name}}
      </label>
    </div>
    
    <h1>Contact</h1>
    <div class="form-group">
      <label for="contactName">Name</label>
      <input type="text" class="form-control" name="contactName" id="contactName" aria-describedby="helpName" placeholder="Name">
      <small id="helpName" class="form-text text-muted">insert your name</small>
    </div>

    <div class="form-group">
      <label for="contactPhone">Phone</label>
      <input type="text" class="form-control" name="contactPhone" id="contactPhone" aria-describedby="helpPhone" placeholder="Phone">
      <small id="helpPhone" class="form-text text-muted">insert your phone number</small>
    </div>
    
    <div class="form-group">
      <label for="contactEmail">Email</label>
      <input type="text" class="form-control" name="contactEmail" id="contactEmail" aria-describedby="helpEmail" placeholder="Email">
      <small id="helpEmail" class="form-text text-muted">insert your email</small>
    </div>

    <button type="submit" [disabled]="addingVehiculeForm.invalid" class="btn btn-primary">
      Save
    </button>
  </div>
</form>

